# Ignore directories and files outside the repo
.bash_history
.cache/
.config/
.gitconfig
.keras/
.lesshst
.ssh/
.streamlit/
.sudo_as_admin_successful
bot/
snap/
tacl2/
test.html
theeta-chatbot-ip/
theeta/
theeta_redis/
theeta_redis_multiagent/
theeta_redis_multiagentdept/
training/
monitoring_vm/
